@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400&family=Montserrat:wght@100;200;600;700&display=swap');
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #3f3f46;
  background-color: rgb(226, 232, 240);
  background-image: radial-gradient(at 18% 90%, rgb(214, 211, 209) 0, transparent 79%), radial-gradient(at 30% 19%, rgb(59, 130, 246) 0, transparent 41%), radial-gradient(at 69% 86%, rgb(253, 230, 138) 0, transparent 32%);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

